@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

:root{
    --logo-color:#F29A2E;
    --green:#F25C05;
    --yellow2:#732C02;
    --yellow3:#401902;
    --azul:#192a56;
    --light-color:#666;
    --branco:#fff;  
    --box-shadow:0 0.5rem 1.5rem rgba(0,0,0,.1);
    --fundo:#eee;
    --preto:#0D0D0D;

}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--branco);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
section{
    padding: 2rem 3%;
}
/*section:nth-child(even){
    background: var(--fundo);
}
    */

header .logo{
    color: var(--azul);
    font-size: 2.5rem;
    font-weight: bolder;
}
.navbar a{
font-size: 1.7rem;
border-radius: .5rem;
padding: .5rem 1.5rem;
color: var(--light-color);
}
.navbar a:hover{
    color: var(--branco);
    background-color: var(--green);
}
.navbar a.active{
    color: var(--branco);
    background-color: var(--green);
}
header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--azul);
    border-radius: 50%;
    background: var(--fundo);
}
header .icons i:hover,
header .icons a:hover{
    color: var(--branco);
    background: var(--green);
    transform: rotate(360deg);
}
header .icons #menu-bars{
    display: none;    
}




.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}
.home .home-slider .slide .content{
    flex: 1 1 45rem;
}

.home .home-slider .slide .image{
    flex: 1 1 45rem;
}
.home .home-slider .slide .image img{
    width: 100%;
}
.home .home-slider .slide .content span{
    color: var(--green);
    font-size: 2.5rem;
}
.home .home-slider .slide .content h3{
    color: var(--azul);
    font-size: 7rem;
}
.home .home-slider .slide .content p{
    color: var(--light-color);
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}


.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: var(--branco);
    background: var(--azul);
    border-radius: .5rem;
    cursor: pointer;
    padding: .5rem 3rem;
}
.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}

.images-prod img{
    max-width: 100%;
    display: block;
    cursor: pointer;     
}

.images-prod:hover{
    transform: scale(1.1);
}



.btn-app{
    background: var(--preto);    
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;      
    border-radius: .5rem;
    cursor: pointer;
    padding: 1.5rem 3rem;
}



.menu-footer{
    width: 100%;
     display: flex;
     background: var(--fundo);
     justify-content: center;
}

.conteiner-menu-footer a{
    width: 100%;
    text-decoration: none;
    color: var(--light-color);
    font-size: 2rem;
    align-items: center;
    padding: .5rem 1.5rem;
}
.conteiner-menu-footer a:hover{
    color: var(--green);
}


.copyright{
    background: var(--azul);
    font-size: 1.5rem;
    text-align: center;
    padding: .5rem;
    color: var(--branco);
}


@media (max-width:991px){

    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
    section{
        padding: 2rem;
    }

}


@media (max-width:768px){
    header .icons #menu-bars{
        display: inline-block;        
    }
    header .navbar{
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background: var(--branco);
        border-top: 1rem solid rgba(0,0,0,.2);
        border-bottom: 1rem solid rgba(0,0,0,.2);        
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%,0% 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--fundo);
    }
    .app{
        display: none;
    }
    .noticia-top{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(28rem,1fr));
        gap:1rem;
        margin-left: 1rem;
        cursor: pointer;
    }
    .home .home-slider .slide .content h3{        
        font-size: 5rem;
    }
    .Container-port{
        background: linear-gradient(-90deg,var(--azul) 75%, var(--green) 25%);
        display: grid;
        border-radius: 1%;    
        padding: 0 auto;
        margin-top: 1rem;
    }

    .portfolio .portfolio-images img{
        max-width: 100%;
        border-radius: 50%;
        box-shadow: var(--box-shadow);
         cursor: pointer;   
        display: block;
        align-items: center;
        margin-top: 1%;       
    }
    .portfolio-images img:hover{
        border-radius: 2rem;
        margin-top: -6rem;
    }
    .portfolio-text span Strong{
        color: #FFA500;  
        font-size: 1.7rem;           
    }
    .portfolio-text{ 
        margin-left: 8%;
        text-align: center;
    }
    .menu-footer{        
         display: grid;
         grid-template-columns: 1fr;
         background: var(--fundo);
         justify-content: center;
    }
    

    .conteiner-menu-footer a:hover{
        color: var(--green);
    }
    .conteiner-menu-footer a:nth-child(5){
        display: none;
    }
    .conteiner-menu-footer a:nth-child(7){
        display: none;
    }
    .navbar a:nth-child(7){
        display: none;
    }
    .noticia-top .noticia:nth-child(4){
        display: none;
    }
    
}

@media (max-width:991px){

    html{
        font-size: 50%;
    }
    .noticia-top{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(28rem,1fr));
        gap:1rem;
        margin-left: 1rem;
        cursor: pointer;
    } 
    .noticia-top .noticia:nth-child(4){
        display: block;
    }  

}
@media (max-width:800px){
    .noticia-top .noticia:nth-child(3){
        display:none;
    }
}

@media (max-width:1024px){
    .noticia-top .noticia:nth-child(4){
        display: none;
    }
    .rotacao iframe{
        width: 100%;
        height: 11rem;
        background-color: var(--azul);    
    }

}